.loginForm h2 {
  margin-bottom: 20px;
  text-align: center;
}
.loginForm label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
.loginForm input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.loginForm button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #222020;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.loginForm button:hover {
  background-color: #005fa3;
}
.registerLink {
  align-self: center;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #555;
}
.registerLink a {
  color: #555;
  text-decoration: underline;
  font-weight: bold;
}
.registerLink a:hover {
  text-decoration: underline;
}
#mensaje {
  text-align: center;
}
/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
  .leftPanel {
    width: 100%;
    height: 30vh;
  }
  .leftPanel img {
    height: 100%;
    object-fit: cover;
  }
  .rightPanel {
    width: 100%;
    height: 70vh;
    padding: 20px 0;
  }
  .loginForm {
    width: 90%;
    padding: 25px;
    max-width: 350px;
  }
  .loginForm h2 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  .loginForm input {
    padding: 12px;
  }
  .loginForm button {
    padding: 12px;
  }
}
/* Pantallas medianas (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .leftPanel {
    width: 40%;
  }
  .rightPanel {
    width: 60%;
  }
  .loginForm {
    padding: 30px;
    width: 85%;
  }
  .loginForm h2 {
    font-size: 1.4rem;
  }
}
/* Pantallas grandes (escritorios) */
@media (min-width: 1200px) {
  .loginForm {
    max-width: 450px;
    padding: 50px;
  }

  .loginForm h2 {
    font-size: 1.8rem;
  }

  .loginForm input,
  .loginForm button {
    padding: 12px;
  }
}
