<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <script src="../assets/js/main.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <img src="../assets/img/logo.png" class="logo" />
        </div>
        <div class="navButtons">
          <div id="adjustData">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  stroke="#000000"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                ></path>
                <path
                  stroke="#000000"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10.47 4.32c.602-1.306 2.458-1.306 3.06 0l.218.473a1.684 1.684 0 0 0 2.112.875l.49-.18c1.348-.498 2.66.814 2.162 2.163l-.18.489a1.684 1.684 0 0 0 .875 2.112l.474.218c1.305.602 1.305 2.458 0 3.06l-.474.218a1.684 1.684 0 0 0-.875 2.112l.18.49c.498 1.348-.814 2.66-2.163 2.162l-.489-.18a1.684 1.684 0 0 0-2.112.875l-.218.473c-.602 1.306-2.458 1.306-3.06 0l-.218-.473a1.684 1.684 0 0 0-2.112-.875l-.49.18c-1.348.498-2.66-.814-2.163-2.163l.181-.489a1.684 1.684 0 0 0-.875-2.112l-.474-.218c-1.305-.602-1.305-2.458 0-3.06l.474-.218a1.684 1.684 0 0 0 .875-2.112l-.18-.49c-.498-1.348.814-2.66 2.163-2.163l.489.181a1.684 1.684 0 0 0 2.112-.875l.218-.474Z"
                ></path>
              </g>
            </svg>
          </div>
          <div id="logoutBtn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
              />
            </svg>
          </div>
        </div>
      </nav>
      <div class="headerText">
        <h1>
          Hecho para <span>llevar.</span><br />Diseñado para
          <span>destacar.</span>
        </h1>
        <button id="contactButton">Contáctenos</button>
      </div>
    </header>
    <main>
      <aside>
        <p>
          <img src="../assets/img/storeOutside.jpg" />
        </p>
      </aside>
      <article>
        <h2 class="articleHeading">Sobre Nosotros</h2>
        <br />
        <p class="articleBody">
          Somos una tienda de ropa creada con la idea de que el estilo es una
          forma de expresión personal. Creemos que la manera de vestir habla de
          quién eres y cómo te sientes, por eso diseñamos prendas que combinan
          comodidad, diseño y carácter. Cada colección nace pensando en personas
          reales, en su ritmo diario y en la necesidad de sentirse bien con lo
          que llevan puesto.<br />
          <br />

          Cuidamos cada detalle del proceso, desde la selección de materiales
          hasta el acabado final de cada prenda. Apostamos por la calidad, la
          durabilidad y un diseño actual que no dependa solo de modas pasajeras.
          Nuestro objetivo es ofrecer ropa versátil, capaz de adaptarse a
          distintos momentos y estilos sin perder identidad. <br />
          <br />

          Más que una tienda, queremos ser una marca cercana con la que nuestros
          clientes se sientan identificados. Valoramos la autenticidad, la
          confianza y la creatividad, y trabajamos cada día para que nuestra
          ropa ayude a expresar personalidad y actitud. Porque vestir bien no es
          seguir reglas, es sentirse uno mismo.
        </p>
      </article>
      <section>
        <h2 class="articleHeading">Nuestros Productos</h2>
        <br />
        <div class="productScrollSection"></div>
      </section>

      <!-- Modals/Popups -->
      <div id="adminTableModal" class="adminTableModal">
        <!-- Modal content -->
        <div class="adminTableModalContent">
          <div class="flex-space-between">
            <button id="modifySelfButton" class="modifySelfButton">
              Modify Self
            </button>
            <span class="close">&times;</span>
          </div>

          <table class="adminTable" id="adminTable">
            <tr class="adminTableHead">
              <th>Username</th>
              <th>Card Number</th>
              <th></th>
            </tr>
          </table>
        </div>
      </div>

      <div id="modifyUserPopupAdmin" class="modifyUserPopupAdmin">
        <div class="popupCard">
          <form class="profileForm" id="profileForm">
            <div class="profileHeader">
              <div class="avatar">
                <img src="https://placehold.co/280x280/png" alt="avatar" />
              </div>
              <div class="infoArea">
                <div class="fields">
                  <div class="field half">
                    <label for="firstName">Name</label>
                    <input
                      id="firstNameUser"
                      name="firstName"
                      type="text"
                      placeholder="John"
                    />
                  </div>
                  <div class="field half">
                    <label for="lastName">Surname</label>
                    <input
                      id="lastNameUser"
                      name="lastName"
                      type="text"
                      placeholder="Doe"
                    />
                  </div>
                  <div class="field full">
                    <label for="email">Email</label>
                    <input
                      id="emailUser"
                      name="email"
                      type="email"
                      placeholder="example@example.com"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="fields">
              <div class="field half">
                <label for="username">Username</label>
                <input
                  id="usernameUser"
                  name="username"
                  type="text"
                  placeholder="Example"
                  disabled
                />
              </div>

              <div class="field half">
                <label for="password">Password</label>
                <button type="button" id="changePwdBtn" class="changePwdBtn">
                  Change Password
                </button>
              </div>
              <div class="field half">
                <label for="phone">Phone Number</label>
                <input
                  id="phoneUser"
                  name="phone"
                  type="number"
                  placeholder="000-000-0000"
                />
              </div>
              <div class="field half">
                <label for="gender">Gender</label>
                <select name="gender" id="genderUser" class="gender">
                  <option value="Man">Man</option>
                  <option value="Female">Woman</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="field full">
                <label for="cardNumber">Card Number</label>
                <input
                  id="cardNumberUser"
                  name="cardNumber"
                  type="text"
                  placeholder="XXXX-XXXX-XXXX-XXXX"
                />
              </div>
            </div>
            <span style="color: green" ; id="message"></span>
            <div class="actions">
              <button id="deleteBtn" class="deleteBtn" type="button">
                Delete Account
              </button>
              <button class="saveBtn" type="button" id="saveBtnUser">
                Save Data
              </button>
            </div>
          </form>
        </div>
      </div>

      <div id="modifyAdminPopup" class="modifyAdminPopup">
        <div class="popupCard">
          <form class="loginForm profileForm" id="profileForm">
            <div class="profileHeader">
              <div class="avatar">
                <img src="https://placehold.co/280x280/png" alt="avatar" />
              </div>
              <div class="infoArea">
                <div class="fields">
                  <div class="field half">
                    <label for="firstName">Name</label>
                    <input
                      id="firstNameAdmin"
                      name="firstName"
                      type="text"
                      placeholder="John"
                    />
                  </div>
                  <div class="field half">
                    <label for="lastName">Surname</label>
                    <input
                      id="lastNameAdmin"
                      name="lastName"
                      type="text"
                      placeholder="Doe"
                    />
                  </div>
                  <div class="field full">
                    <label for="email">Email</label>
                    <input
                      id="emailAdmin"
                      name="email"
                      type="email"
                      placeholder="example@example.com"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="fields">
              <div class="field half">
                <label for="username">Username</label>
                <input
                  id="usernameAdmin"
                  name="username"
                  type="text"
                  placeholder="Example"
                  disabled
                />
              </div>

              <div class="field half">
                <label for="password">Password</label>
                <button
                  type="button"
                  id="changePwdBtnAdmin"
                  class="changePwdBtn"
                >
                  Change Password
                </button>
              </div>
              <div class="field half">
                <label for="phone">Phone Number</label>
                <input
                  id="phoneAdmin"
                  name="phone"
                  type="number"
                  placeholder="000-000-0000"
                />
              </div>
              <div class="field half">
                <label for="profileCode">Profile Code</label>
                <input
                  id="profileCodeAdmin"
                  name="profileCode"
                  type="tel"
                  placeholder="x"
                  disabled="disabled"
                />
              </div>
              <div class="field full">
                <label for="accountNumber">Account Number</label>
                <input
                  id="currentAccountAdmin"
                  name="accountNumber"
                  type="text"
                  placeholder="XXXX-XXXX-XXXX-XXXX"
                />
              </div>
            </div>
            <span style="color: green" ; id="messageAdmin"></span>
            <div class="actions">
              <button id="saveBtnAdmin" class="saveBtn" type="button">
                Save Data
              </button>
            </div>
          </form>
        </div>
      </div>

      <div id="changePasswordModal" class="changePasswordModal">
        <div class="changePasswordModalContent">
          <span class="closePasswordSpan">&times;</span>
          <h2>Change Password</h2>
          <form id="changePasswordForm">
            <label for="currentPassword">Actual Password</label>
            <input
              type="password"
              id="currentPassword"
              name="currentPassword"
              required
            />
            <span style="color: red" ; id="messageOldPassword"></span>

            <label for="newPassword">New Password</label>
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              required
            />

            <label for="confirmNewPassword">Repeat Password</label>
            <input
              type="password"
              id="confirmNewPassword"
              name="confirmNewPassword"
              required
            />
            <span style="color: red" ; id="messageWrongPassword"></span>

            <span style="color: green" ; id="messageSuccessPassword"></span>
            <button type="submit">Confirm</button>
          </form>
          <div id="passwordMessage" class="passwordMessage"></div>
        </div>
      </div>

      <div id="modifyCompanyPopup" class="modifyAdminPopup">
        <div class="popupCard">
          <form class="loginForm profileForm" id="profileForm">
            <div class="fields">
              <div class="field half">
                <label for="username">Username</label>
                <input
                  id="usernameAdmin"
                  name="username"
                  type="text"
                  placeholder="Example"
                  disabled
                />
              </div>

              <div class="field half">
                <label for="password">Password</label>
                <button
                  type="button"
                  id="changePwdBtnAdmin"
                  class="changePwdBtn"
                >
                  Change Password
                </button>
              </div>
              <div class="field half">
                <label for="phone">Phone Number</label>
                <input
                  id="phoneAdmin"
                  name="phone"
                  type="number"
                  placeholder="000-000-0000"
                />
              </div>
              <div class="field half">
                <label for="profileCode">Profile Code</label>
                <input
                  id="profileCodeAdmin"
                  name="profileCode"
                  type="tel"
                  placeholder="x"
                  disabled="disabled"
                />
              </div>
              <div class="field full">
                <label for="accountNumber">Account Number</label>
                <input
                  id="currentAccountAdmin"
                  name="accountNumber"
                  type="text"
                  placeholder="XXXX-XXXX-XXXX-XXXX"
                />
              </div>
            </div>
            <span style="color: green" ; id="messageAdmin"></span>
            <div class="actions">
              <button id="saveBtnAdmin" class="saveBtn" type="button">
                Save Data
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer>© 2026 - El Corte Americano</footer>
  </body>
</html>
