<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyWebsite SignUp</title>
    <link rel="stylesheet" href="../assets/css/login_signup.css" />
    <script src="../assets/js/signUp.js"></script>
  </head>
  <body>
    <main class="container">
      <div class="card">
        <form class="form" id="signupForm">
          <h1>Sign up now!</h1>
          <label for="username"></label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
          <label for="password"></label>
          <input
            type="password"
            id="pswd1"
            name="password"
            placeholder="Password"
            required
          />
          <label for="password2"></label>
          <input
            type="password"
            id="pswd2"
            name="password"
            placeholder="Repeat password"
            required
          />
          <button type="submit" class="SignUpbutton">Sign Up</button>
          <p class="link">
            Already have an account? <a href="login.html">Log In</a>
          </p>
          <h5 id="mensaje"></h5>
        </form>
      </div>
    </main>
  </body>
</html>
